<footer class="footer bg-dark d-flex justify-content-between py-3 mt-auto">
    <div class="px-5">
        <span class="text-muted">Yelp-Camp</span>
    </div>
    <div class="px-3">
        <a  class=" text-muted d-inline px-2" href="https://www.linkedin.com/in/garyho-210839/"><i
                class="icon-linkedin-sign icon-2x"></i> </a>
        <a  class=" text-muted d-inline px-2" href="https://github.com/GaryHo34/YelpCamp-project"><i
                class="icon-github-sign icon-2x"></i> </a>
    </div>
</footer>